style "button"
{
    xthickness = 3
    ythickness = 3

    engine "pixmap" 
    {
    image
        {
            function    = BOX
            state       = NORMAL
            file        = "assets/btn.png"
            border      = { 4, 4, 4, 4 }
            stretch     = TRUE
        }
    image
        {
            function    = BOX
            recolorable = TRUE
            shadow      = OUT
            state       = PRELIGHT
            file        = "assets/btn-hover.png"
            border      = { 4, 4, 4, 4 }
            stretch     = TRUE
        }
    image
        {
            function    = BOX
            recolorable = TRUE
            shadow      = IN
            state       = PRELIGHT
            file        = "assets/btn-active-hover.png"
            border      = { 3, 3, 3, 3 }
            stretch     = TRUE
        }
    image
        {
            function    = BOX
            recolorable = TRUE
            shadow      = IN
            state       = ACTIVE
            file        = "assets/btn-active.png"
            border      = { 3, 3, 3, 3 }
            stretch     = TRUE
        }    
    image 
        {
            function    = BOX
            state       = INSENSITIVE
            file        = "assets/btn-insensitive.png"
            border      = { 2, 2, 2, 2 }
            stretch     = TRUE
        }
    }
}

style "murrine-button" {
  xthickness = 3
  ythickness = 3 

  bg[NORMAL]      = shade (1.1, @bg_color)
  bg[PRELIGHT]    = shade (1.6, @bg_color)
  bg[ACTIVE]      = shade (0.88, @bg_color)
  bg[SELECTED]    = shade (0.88, @bg_color)
  bg[INSENSITIVE] = shade (0.88, @bg_color)

  fg[NORMAL]      = @fg_color
  fg[PRELIGHT]    = @fg_color
  fg[ACTIVE]      = @fg_color
  fg[SELECTED]    = @fg_color
  fg[INSENSITIVE] = mix (0.4, @fg_color, @bg_color)

  engine "murrine" {
    roundness     = 2
    reliefstyle   = 4
    border_shades = { 0.9, 0.6 }
    shadow_shades = { 0.8, 0.5 }
  }
}

style "treeview-header"
{
    xthickness = 2
    ythickness = 0

    bg[NORMAL] = @base_color

    engine "murrine" {
        listviewheaderstyle = 1
    }
}

widget_class "*<GtkButton>"                          style "murrine-button"
widget_class "*<GtkTreeView>*<GtkButton>*"           style:highest "treeview-header"
