// titlebutton sizes
$titlebutton-width: 30px;
$titlebutton-height: 20px;

// scrollbars
$_slider_min_length: 40px;
$_scrollbar_size: 14px;
$_overlay_size: 8px;

// radius
$button-radius: 2px; // Default button and entry border-radius
$window-radius: 5px; // Window decoration border-radius
$circular_radius: 99px;
$scale_radius: 16px;

// duration
$shortest_duration: 100ms;
$shorter_duration: 150ms;
$longer_duration: 250ms;

// timing function
$deceleration_curve: cubic-bezier(0.0, 0.0, 0.2, 1);

// button shadows
$shadow_normal: 0 1px 2px transparentize(black, 0.75), 0 1px 1px transparentize(black, 0.84);
$shadow_hover: 0 1px 1px transparentize(black, 0.6), 0 1px 2px transparentize(black, 0.6);
$shadow_active: inset 0 0 0 1px transparentize(black, 0.92), inset 0 2px transparentize(black, 0.96);
$shadow_focus: 0 0 0 2px transparentize($selected_bg_color, 0.85);
