$_running_color: transparentize(white,0.4);
$_running_top: inset 0 2px $_running_color;
$_running_bottom: inset 0 -2px $_running_color;
$_running_left: inset 2px 0 $_running_color;
$_running_right: inset -2px 0 $_running_color;

$_hover_color: transparentize(white,0.2);
$_hover_effect_top: inset 0 2px $_hover_color;
$_hover_effect_bottom: inset 0 -2px $_hover_color;
$_hover_effect_left: inset 2px 0 $_hover_color;
$_hover_effect_right: inset -2px 0 $_hover_color;

$_selected_top: inset 0 2px $selected_bg_color;
$_selected_bottom: inset 0 -2px $selected_bg_color;
$_selected_left: inset 2px 0 $selected_bg_color;
$_selected_right: inset -2px 0 $selected_bg_color;

$panel_color: darken($bg_color, 5%);
$dock_color: transparentize(black, 0.2);

// Trick due to St limitations. It needs a background to draw a box-shadow
%panel_fix {
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
}

%panel_bg {
  background-gradient-direction: vertical;
  background-gradient-start: $panel_color;
  background-gradient-end: $panel_color;
}

// Dash to Panel extension styling

@each $d in Top, Bottom {
  $low_d: to-lower-case($d);

  #panel.dashtopanelMainPanel.dashtopanel#{$d} {
    //@extend %panel_bg;
    //@if $d==Bottom { box-shadow: inset 0 1px transparentize(white, 0.92); }
    //background-color: transparent;

    // FIXME: This is a headache. It's probably not possible to override the default focused style.
    //@each $c in 1, 2, 3, 4 {
      //.app-well-app {
        //> StWidget,
        //&:hover > StWidget {
          //border-image: url("transparent.png");
        //}

        //&.running#{$c} {
          //> StWidget,
          //&.focused > StWidget { border-image: url("transparent.png"); }
        //}
      //}
    //}

    .panel-button {
      &:hover { background-color: transparentize(white,0.9); }
      &:active, &:overview, &:focus { background-color: $selected_bg_color; }
      text-shadow: black 0 1px 1px;
    }

    .dash-item-container > * { padding: 0 4px; }

    // panel dash icon
    @each $d in hover, focus, active, checked, overview {
      .show-apps .overview-icon {
        background-image: url("d2p-activities.svg");
        background-position: center center;
        //background-color: transparentize(black, 0.2);
        border: none;
        color: transparent;
        margin: 0;
        transition-duration: 100ms;
      }

      .show-apps:#{$d} .overview-icon {
        background-image: url("d2p-activities-active.svg");
        background-color: transparent;
        background-position: center center;
        color: transparent;
      }
    }

    .show-apps-icon { color: transparent; } // Makes sure that no default icon from the icon theme is showing

    // clock and system menu area
    & > #panelRight {
      //box-shadow: inset 1px 0 $panel_color;
      //background-color: transparentize(black, 0.2);
      //border-radius: 2px;
      //margin: 4px;
      .panel-button:hover { box-shadow: none; }
    }

    .showdesktop-button { 
      padding-right: 8px;
      //border-image: url("transparent.png");
    }
    //.showdesktop-button-hovered { border-image: url("transparent.png"); }
  }
}

// Dash to dock extension styling

@each $p in left, right, top, bottom {
@each $n in 1, 2, 3, 4 {
  #dashtodockContainer {
    border-radius: 0;

    &.extended .show-apps {
      transition-duration: 100ms;
    }

    &.#{$p}.extended { @extend %panel_fix; }

    &.shrink.#{$p} #dash,
    &.dashtodock.#{$p} #dash {
      // Seems the border can't be removed with a theme (perhaps with a border image though)
      // Need to change it in ~/.local/share/gnome-shell/extensions/dash-to-dock@micxgx.gmail.com/stylsheet.css
      border: 0 !important;
      padding: 0;
      background-color: $dock_color;
    }

    &.extended {
      border: 0;
      border-radius: 0;
    }

    &.bottom #dash .app-well-app-running-dot {
      width: 44px;
      height: 3px;
      margin-bottom: 0;
    }

    #dash .app-well-app-running-dot {
      background-color: transparent;
    }

    &.running-dots .dash-item-container > StButton,
    &.dashtodock .dash-item-container > StButton {
      background-size: contain;
    }

    &.shrink .dash-item-container > StButton,
    &.dashtodock .dash-item-container > StButton {
      padding: 2px 4px !important;
    }

    $unfocused: transparentize(white, 0.6);
    $focused: transparentize(white, 0.9);
    $focused_hover: transparentize(white, 0.85);

    &.#{$p} #dash .running#{$n} {
      @extend %panel_fix;
      @if $p==left {
        @if $n==1 { box-shadow: inset 2px 0 $unfocused; }
        @else if $n>=2 { box-shadow: inset 4px 0 $unfocused; }
      }
      @if $p==right {
        @if $n==1 { box-shadow: inset -2px 0 $unfocused; }
        @else if $n>=2 { box-shadow: inset -4px 0 $unfocused; }
      }
      @if $p==bottom {
        @if $n==1 { box-shadow: inset 0 -2px $unfocused; }
        @else if $n>=2 { box-shadow: inset 0 -4px $unfocused; }
      }
      @if $p==top {
        @if $n==1 { box-shadow: inset 0 2px $unfocused; }
        @else if $n>=2 { box-shadow: inset 0 4px $unfocused; }
      }

      &.focused {
        background-gradient-direction: vertical;
        background-gradient-start: $focused;
        background-gradient-end: $focused;

        &:hover {
          background-gradient-start: $focused_hover;
          background-gradient-end: $focused_hover;
        }

        @if $p==left {
          @if $n==1 {
            box-shadow: inset 2px 0 $selected_bg_color;
            &:hover { box-shadow: inset 2px 0 $selected_bg_color; }
          }
          @else if $n>=2 {
            box-shadow: inset 4px 0 $selected_bg_color;
            &:hover { box-shadow: inset 4px 0 $selected_bg_color; }
          }
        }
        @else if $p==right {
          @if $n==1 {
            box-shadow: inset -2px 0 $selected_bg_color;
            &:hover { box-shadow: inset -2px 0 $selected_bg_color; }
          }
          @else if $n>=2 {
            box-shadow: inset -4px 0 $selected_bg_color;
            &:hover { box-shadow: inset -4px 0 $selected_bg_color; }
          }
        }
        @else if $p==bottom {
          @if $n==1 {
            box-shadow: inset 0 -2px $selected_bg_color;
            &:hover { box-shadow: inset 0 -2px $selected_bg_color; }
          }
          @else if $n>=2 {
            box-shadow: inset 0 -4px $selected_bg_color;
            &:hover { box-shadow: inset 0 -4px $selected_bg_color; }
          }
        }
        @else if $p==top {
          @if $n==1 {
            box-shadow: inset 0 2px $selected_bg_color;
            &:hover { box-shadow: inset 0 2px $selected_bg_color; }
          }
          @else if $n>=2 {
            box-shadow: inset 0 4px $selected_bg_color;
            &:hover { box-shadow: inset 0 4px $selected_bg_color; }
          }
        }
      }
    }

    &.#{$p} #dash .app-well-app {
      transition-duration: 100ms;
      &:hover {
        @extend %panel_fix;
        @if $p==left { box-shadow: inset 2px 0 white; }
        @else if $p==right { box-shadow: inset -2px 0 white; }
        @else if $p==bottom { box-shadow: inset 0 -2px white; }
        @else if $p==top { box-shadow: inset 0 2px white; }
      }
    }

    &.#{$p} #dash .app-well-app {
      padding: 0px;

      // Increase the value to increase the space between the icons
      margin: 2px;
      @if $p==left or $p==right {
        margin-left: 0;
        margin-right: 0;
      }
      @else if $p==bottom or $p==top {
        margin-top: 0;
        margin-bottom: 0;
      }

      & .overview-icon { margin: 0; }

      &.focused .overview-icon {
        border-radius: 0;
        // This fixes the hardcoded(?) bg when running dots are activated
        // Some options with dash to dock's appearance may look a bit wierd. (Metro style for example.)
        // FIXME: Figure out a way to properly ignore the included styles for better user choice.
        border-image: url('transparent.png');
      }

      &:hover .overview-icon,
      &:active .overview-icon,
      &:focus .overview-icon {
        @extend %panel_fix;
        background: none;
        box-shadow: none;
      }
    }
  }
}
}

.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
  // Scrollview style -vertical
  -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
  // Scrollview style -horizontal
  -st-vfade-offset: 24px;
}
