$unfocused: transparentize(white, 0.6);
$focused: transparentize(white, 0.9);
$focused_hover: transparentize(white, 0.85);

$panel_color: darken($bg_color, 15%);
$dock_color: transparentize(black, 0.3);

// Trick due to St limitations. It needs a background to draw a box-shadow
%panel_fix {
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
}

%panel_bg {
  background-gradient-direction: vertical;
  background-gradient-start: $panel_color;
  background-gradient-end: $panel_color;
}

// Dash to Panel extension styling

@each $d in Top, Bottom {
  $low_d: to-lower-case($d);

  #panel.dashtopanelMainPanel.dashtopanel#{$d} {
    //@extend %panel_bg;
    //@if $d==Bottom { box-shadow: inset 0 1px transparentize(white, 0.92); }
    background-color: $panel_color;

    // FIXME: This is a headache. It's probably not possible to override the default focused style.
    //@each $c in 1, 2, 3, 4 {
      //.app-well-app {
        //> StWidget,
        //&:hover > StWidget {
          //border-image: url("transparent.png");
        //}

        //&.running#{$c} {
          //> StWidget,
          //&.focused > StWidget { border-image: url("transparent.png"); }
        //}
      //}
    //}

    .panel-button {
      &:hover { background-color: transparentize(white,0.9); }
      &:active, &:overview, &:focus { background-color: $selected_bg_color; }
      text-shadow: black 0 1px 1px;
    }

    .dash-item-container > * { padding: 0 4px; }

    // panel dash icon
    @each $d in hover, focus, active, checked, overview {
      .show-apps .overview-icon {
        background-image: url("d2p-activities.svg");
        background-position: center center;
        //background-color: transparentize(black, 0.2);
        border: none;
        color: transparent;
        margin: 0;
        transition-duration: 100ms;
      }

      .show-apps:#{$d} .overview-icon {
        background-image: url("d2p-activities-active.svg");
        background-color: transparent;
        background-position: center center;
        color: transparent;
        box-shadow: none;
      }

      //.dash-item-container .focused { background-color: red; box-shadow: inset -2px 0 white; }
      .dash-item-container .show-apps {
        padding: 4px 2px;
        transition-duration: 100ms;
        &:#{$d} { background-color: transparentize(black, 0.2); }
      }
    }

    .show-apps-icon { color: transparent; } // Makes sure that no default icon from the icon theme is showing

    // clock and system menu area
    & > #panelRight {
      //box-shadow: inset 1px 0 $panel_color;
      //background-color: transparentize(black, 0.2);
      //border-radius: 2px;
      //margin: 4px;
      .panel-button:hover { box-shadow: none; }
    }

    .showdesktop-button { 
      padding-right: 8px;
      //border-image: url("transparent.png");
    }
    //.showdesktop-button-hovered { border-image: url("transparent.png"); }
  }
}

// Dash to dock extension styling

#dashtodockContainer #dash {
  background-color: $dock_color;
}
